# Rename the file to .env after configuring
# Remember to include escape characters '\' if your password includes '!' or you may encounter issues parsing passwords or avoid using '!' altogether. 
MYSQL_ROOT_PASSWORD=
MYSQL_PASSWORD=
OWNCLOUD_ADMIN_PASSWORD=
JWT_SECRET=
